# Byte-compiled / optimized / DLL files
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class

# C extensions
backend/*.so

# Distribution / packaging
backen/.Python
backen/build/
backen/develop-eggs/
backen/dist/
backen/downloads/
backen/eggs/
backen/.eggs/
backen/lib/
backen/lib64/
backen/parts/
backen/sdist/
backen/var/
backen/wheels/
backen/share/python-wheels/
backen/*.egg-info/
backen/.installed.cfg
backen/*.egg
backen/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
backend/*.manifest
backend/*.spec

# Installer logs
backend/pip-log.txt
backend/pip-delete-this-directory.txt

# Unit test / coverage reports
backend/htmlcov/
backend/.tox/
backend/.nox/
backend/.coverage
backend/.coverage.*
backend/.cache
backend/nosetests.xml
backend/coverage.xml
backend/*.cover
backend/.hypothesis/
backend/.pytest_cache/

# Translations
backend/*.mo
backend/*.pot

# Django stuff:
backend/*.log
backend/local_settings.py
backend/db.sqlite3

# Flask stuff:
backend/instance/
backend/.webassets-cache

# Scrapy stuff:
backend/.scrapy

# Sphinx documentation
backend/docs/_build/

# PyBuilder
backend/target/

# Jupyter Notebook
backend/.ipynb_checkpoints

# IPython
backend/profile_default/
backend/ipython_config.py

# pyenv
backend/.python-version

# celery beat schedule file
backend/celerybeat-schedule

# SageMath parsed files
backend/*.sage.py

# Environments
backend/.env
backend/.venv
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/
backend/.spyderproject
backend/.spyproject
backend/.ropeproject
backend//site
backend/.mypy_cache/
backend/.dmypy.json
backend/dmypy.json
backend/.pyre/

.idea/

backend/node_modules
backend/dist

dreamweather.zip
extension.crx
